<html>
    <head>
 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
  
</style>
 
        {% if title %}
        <title>{{ title }} - Family Focus</title>
        {% else %}
        <title>Whats Happening</title>
        {% endif %}
    </head>
    <body>
           <div>
      <center><h3>Family Focus</h3><center>
      
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <!--<a href="{{ url_for('user', username=current_user.username) }}">Likes Dislikes</a>-->
      <a href="{{ url_for('day', username=current_user.username) }}">Family Daily</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
 
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>