<html>
    <head>
 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     
        {% if title %}
        <title>{{ title }} - Family Focus</title>
        {% else %}
        <title>Whats Happening</title>
        {% endif %}
    </head>
    <body>
        {% include 'nav_login.html' %}
        <center><h2 class="headingColor">Family Focus</h2></center>
        
            <hr>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
            <ul>
                {% for message in messages %}
 
                {% endfor %}
            </ul>
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
        
    </body>
</html>