{% extends "base.html" %}

{% block content %}

<center><div class="page">
    <div class="form">
      <h1 class="mainTextColor">How was your day?</h1>
      <img id="landingPic" src="{{ url_for('static', filename='pictures/howday2.png') }}">
      <form class="login-form" action="" method="post" novalidate>
        {{ dayform.hidden_tag() }}
      <tabel>
        <tr>
        {% for subfield in dayform.yourday %}
            <td>{{ subfield.label }}</td>
            <td>{{ subfield }}</td>
        {% endfor %}
        </tr>
      </tabel>

      <p>{{ dayform.why.label }}</p>
      <p>{{ dayform.why(size=20) }}</p>
      
      <p>{{ dayform.submit() }}</p>
      <p class="message mainTextColor">Not feeling it? <a href="{{ url_for('people') }}"><strong>Skip question!</strong></a></p>
     </form>
   </div>
   {% include "nav_update.html" %}
</div>
</center>


{% endblock %}