{% extends "base.html" %}

{% block content %}

<center><div class="page">
    <div class="form">
      <form class="login-form" action="" method="post" novalidate>

     </form>
    </div>
  </div>
     <table>
       <tr style="font-size: 8rem">
         <td>&#127839;</td><td>&#127828;</td><td>&#127829;</td><td>&#127837;</td><td>&#127838;</td>
       </tr>
       <tr style="font-size: 8rem">
         <td>&#127823;</td><td>&#127820;</td><td>&#127821;</td><td>&#127849;</td><td>&#127851;</td>
       </tr>
       <tr style="font-size: 8rem">
        <td>&#127846;</td><td>&#127815;</td><td>&#127827;</td><td>&#127805;</td><td>&#127813;</td>
      </tr>
      <tr style="font-size: 8rem">
        <td>&#129367;</td><td>&#129365;</td><td>&#129364;</td><td>&#129363;</td><td>&#129374;</td>
      </tr>
      <tr style="font-size: 8rem">
        <td>&#127789;</td>
      </tr>
     </table>
     
   

</center>


{% endblock %}