<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
  </head>
  <body>
    <div class="container">
      <p>Sample Login Page</p>
          <form action="" method="post" novalidate>
            {{ login.hidden_tag() }}
                  <p>
                      {{ login.username.label }}<br>
                      {{ login.username(size=50) }}<br>
          
                  </p>
                  <p>
                      {{ login.email.label }}<br>
                      {{ login.email(size=50) }}<br>
                  </p>
                  <p>
                    {{ login.password.label }}<br>
                    {{ login.password(size=50) }}<br>
                </p>
                  <p>{{ login.submit() }}</p>
              </form>
    </div>
  </body>
</html>

