{% extends "base.html" %}

{% block content %}

<div class="page">
      <form class="form" method="post">
        <h1 class="HeadingColor">Hi {{ current_user.username.capitalize() }} </h1>   
        <h1 class="HeadingColor">Sharing your thoughts helps everybody in the family</h1>
        {{ form.hidden_tag() }}      
        <p>
        {{ form.thinking_about.label }}<br>
        {{ form.thinking_about(size=32)  }}
        </p>
      <p>
        {{ form.thoughts.label }}<br>
        {{ form.thoughts(size=32)  }}
      </p>
      <p>
        {{ form.submit() }}
      </p>
      <p class="message">Not feeling it? <a href="{{ url_for('likesdislikes') }}"><strong>Skip question!</strong></a></p>
  </form></center>
  {% include "nav_update.html" %}
</div>
    
{% endblock %}