<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
  </head>
  <body>

    <h1>Hi {{ current_user.username }} your assigned user ID is {{ current_user.id}} </h1>   
    <h1>This is the Page where the voting happens</h1>
    <p>We are going to need another form class instance rendered here for the voting</p>
    <p>Here is a logout Link <a href="{{ url_for('logout') }}">Logout</a></p>

    </body>
</html>